<div class="wrapper">
  <div class="header header-filter" style="background-image: url('images/portada.jpg');"></div>

  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">

        <div class="description text-center">
          <h1>Miss Integración 2018</h1>
           </div>

        <div class="row">

          <div class="col-md-3 col-sm-6">
            <div class="card" style="margin-bottom: 30px;">
                <div class="img-container">
                  <img class="img-responsive" src="https://scontent.flim5-2.fna.fbcdn.net/v/t31.0-8/16796960_1258735234209036_6626776495351677567_o.jpg?oh=12b64a64497c30a4d5e7b7ccb447d530&oe=5AF28A24" alt="" >
                </div>
                <div class="footer text-center">
                  <a href="#pablo" class="btn btn-simple btn-succes btn-lg">Srta. Santa Cruz</a>
                  <i class="fa fa-facebook-square"></i> 580
                </div>

            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="card" style="margin-bottom: 30px;">
              <div class="img-container">
                <img class="img-responsive" src="https://scontent.flim5-2.fna.fbcdn.net/v/t31.0-8/16796960_1258735234209036_6626776495351677567_o.jpg?oh=12b64a64497c30a4d5e7b7ccb447d530&oe=5AF28A24" alt="" >
              </div>
              <div class="footer text-center">
                <a href="#pablo" class="btn btn-simple btn-succes btn-lg">Srta. Santa Cruz</a>
                <i class="fa fa-facebook-square"></i> 580
              </div>

            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="card" style="margin-bottom: 30px;">
              <div class="img-container">
                <img class="img-responsive" src="https://scontent.flim5-2.fna.fbcdn.net/v/t31.0-8/16796960_1258735234209036_6626776495351677567_o.jpg?oh=12b64a64497c30a4d5e7b7ccb447d530&oe=5AF28A24" alt="" >
              </div>
              <div class="footer text-center">
                <a href="#pablo" class="btn btn-simple btn-succes btn-lg">Srta. Santa Cruz</a>
                <i class="fa fa-facebook-square"></i> 580
              </div>

            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="card" style="margin-bottom: 30px;">
              <div class="img-container">
                <img class="img-responsive" src="https://scontent.flim5-2.fna.fbcdn.net/v/t31.0-8/16796960_1258735234209036_6626776495351677567_o.jpg?oh=12b64a64497c30a4d5e7b7ccb447d530&oe=5AF28A24" alt="" >
              </div>
              <div class="footer text-center">
                <a href="#pablo" class="btn btn-simple btn-succes btn-lg">Srta. Santa Cruz</a>
                <i class="fa fa-facebook-square"></i> 580
              </div>

            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="card" style="margin-bottom: 30px;">
              <div class="img-container">
                <img class="img-responsive" src="https://scontent.flim5-2.fna.fbcdn.net/v/t31.0-8/16796960_1258735234209036_6626776495351677567_o.jpg?oh=12b64a64497c30a4d5e7b7ccb447d530&oe=5AF28A24" alt="" >
              </div>
              <div class="footer text-center">
                <a href="#pablo" class="btn btn-simple btn-succes btn-lg">Srta. Santa Cruz</a>
                <i class="fa fa-facebook-square"></i> 580
              </div>

            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="card" style="margin-bottom: 30px;">
              <div class="img-container">
                <img class="img-responsive" src="https://scontent.flim5-2.fna.fbcdn.net/v/t31.0-8/16796960_1258735234209036_6626776495351677567_o.jpg?oh=12b64a64497c30a4d5e7b7ccb447d530&oe=5AF28A24" alt="" >
              </div>
              <div class="footer text-center">
                <a href="#pablo" class="btn btn-simple btn-succes btn-lg">Srta. Santa Cruz</a>
                <i class="fa fa-facebook-square"></i> 580
              </div>

            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="card" style="margin-bottom: 30px;">
              <div class="img-container">
                <img class="img-responsive" src="https://scontent.flim5-2.fna.fbcdn.net/v/t31.0-8/16796960_1258735234209036_6626776495351677567_o.jpg?oh=12b64a64497c30a4d5e7b7ccb447d530&oe=5AF28A24" alt="" >
              </div>
              <div class="footer text-center">
                <a href="#pablo" class="btn btn-simple btn-succes btn-lg">Srta. Santa Cruz</a>
                <i class="fa fa-facebook-square"></i> 580
              </div>

            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card" style="margin-bottom: 30px;">
              <div class="img-container">
                <img class="img-responsive" src="https://scontent.flim5-2.fna.fbcdn.net/v/t31.0-8/16796960_1258735234209036_6626776495351677567_o.jpg?oh=12b64a64497c30a4d5e7b7ccb447d530&oe=5AF28A24" alt="" >
              </div>
              <div class="footer text-center">
                <a href="#pablo" class="btn btn-simple btn-succes btn-lg">Srta. Santa Cruz</a>
                <i class="fa fa-facebook-square"></i> 580
              </div>

            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="card" style="margin-bottom: 30px;">
              <div class="img-container">
                <img class="img-responsive" src="https://scontent.flim5-2.fna.fbcdn.net/v/t31.0-8/16796960_1258735234209036_6626776495351677567_o.jpg?oh=12b64a64497c30a4d5e7b7ccb447d530&oe=5AF28A24" alt="" >
              </div>
              <div class="footer text-center">
                <a href="#pablo" class="btn btn-simple btn-succes btn-lg">Srta. Santa Cruz</a>
                <i class="fa fa-facebook-square"></i> 580
              </div>

            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="card" style="margin-bottom: 30px;">
              <div class="img-container">
                <img class="img-responsive" src="https://scontent.flim5-2.fna.fbcdn.net/v/t31.0-8/16796960_1258735234209036_6626776495351677567_o.jpg?oh=12b64a64497c30a4d5e7b7ccb447d530&oe=5AF28A24" alt="" >
              </div>
              <div class="footer text-center">
                <a href="#pablo" class="btn btn-simple btn-succes btn-lg">Srta. Santa Cruz</a>
                <i class="fa fa-facebook-square"></i> 580
              </div>

            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="card" style="margin-bottom: 30px;">
              <div class="img-container">
                <img class="img-responsive" src="https://scontent.flim5-2.fna.fbcdn.net/v/t31.0-8/16796960_1258735234209036_6626776495351677567_o.jpg?oh=12b64a64497c30a4d5e7b7ccb447d530&oe=5AF28A24" alt="" >
              </div>
              <div class="footer text-center">
                <a href="#pablo" class="btn btn-simple btn-succes btn-lg">Srta. Santa Cruz</a>
                <i class="fa fa-facebook-square"></i> 580
              </div>

            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="card" style="margin-bottom: 30px;">
              <div class="img-container">
                <img class="img-responsive" src="https://scontent.flim5-2.fna.fbcdn.net/v/t31.0-8/16796960_1258735234209036_6626776495351677567_o.jpg?oh=12b64a64497c30a4d5e7b7ccb447d530&oe=5AF28A24" alt="" >
              </div>
              <div class="footer text-center">
                <a href="#pablo" class="btn btn-simple btn-succes btn-lg">Srta. Santa Cruz</a>
                <i class="fa fa-facebook-square"></i> 580
              </div>

            </div>
          </div>

        </div>



          </div>
        </div>

      </div>
    </div>
  </div>
