
    <!doctype html>
    <html lang="en">
    <head>
      <meta charset="utf-8" />

      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

      <title>Miss Integración 2018</title>

      <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

      <!--     Fonts and icons     -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

      <!-- CSS Files -->
      <link href="templates/material/assets/css/bootstrap.min.css" rel="stylesheet" />
      <link href="templates/material/assets/css/material-kit.css" rel="stylesheet"/>

    </head>

    <body class="profile-page">
    <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll navbar-success" >
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.creative-tim.com">Miss Integración 2018</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-example">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                <i class="fa fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%- body %>

    </div>
    <footer class="footer">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="http://www.creative-tim.com">
                Gobierno Regional Cajamarca
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright pull-right">
          Desarrollado por: Kevin Puscán
        </div>
      </div>
    </footer>


    </body>
    <!--   Core JS Files   -->
    <script src="templates/material/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="templates/material/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="templates/material/assets/js/material.min.js"></script>

    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="templates/material/assets/js/nouislider.min.js" type="text/javascript"></script>

    <!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
    <script src="templates/material/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="templates/material/assets/js/material-kit.js" type="text/javascript"></script>

    </html>


